common --experimental_repo_remote_exec

build --define darwinn_portable=1
build --subcommands
build --verbose_failures
build --enable_platform_specific_config

build:linux --crosstool_top=@crosstool//:toolchains
build:linux --compiler=gcc
build:linux --cxxopt=-std=c++17

build:macos --cxxopt=-std=c++17
build:macos --copt=-fvisibility=hidden

build:windows --incompatible_restrict_string_escapes=false
build:windows --copt=/DWIN32_LEAN_AND_MEAN
build:windows --cxxopt=/std:c++17
